@import "tailwindcss";

@theme {
  --color-neon-pink-DEFAULT: #f72585;
  --color-neon-pink-100: #37021a;
  --color-neon-pink-200: #6e0434;
  --color-neon-pink-300: #a5064e;
  --color-neon-pink-400: #dc0868;
  --color-neon-pink-500: #f72585;
  --color-neon-pink-600: #f9529d;
  --color-neon-pink-700: #fa7db5;
  --color-neon-pink-800: #fca8ce;
  --color-neon-pink-900: #fdd4e6;
}

/* For Electron Window Dragging */
.app-drag-region {
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}

/* Custom Scrollbar Utility */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  /* slate-300 */
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
  /* slate-400 */
}

/* Hide Scrollbar Utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}